body {
  margin: 0;
  background-color: #e1a0a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, .3);
  white-space: nowrap;
}

.container {
  text-align: center;
}

.btn {
  padding: 30px 50px;
  border: none;
  background-color: white;
  margin: 10px;
  font-size: 30px;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 4px 8px rgb(0, 0, 0, .3);
  background-image: url("images/Tom.jpeg");
  background-size: cover;
  color: white;
  font-family: cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  color: rgb(179, 6, 34);
}

.btn:active {
  background-size: 105%;
}